<h1>Login</h1>

<%= form_tag '/login' do %>

    Email or Username: <%= text_field_tag :email_or_username %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag 'Submit' %>

<% end %>