# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm:
*.iml
.idea/*
warehouse/.idea/

postgres_backup

# Nix local dev

vendor/bundle
development/postgresql/data
development/redis/dump.rdb
.env*
