<div class="container">

  <h1>General</h1>
  <h3 id="warehouse">About Warehouse</h3>
  <p>
    Warehouse is an informational and activity check database for <a href="https://hungergamesrpg.com/">Hunger Games RPG</a>, a text-based, play-by-post role-playing game.
  </p>

  <h3 id="tos-and-pp">Terms of Use and Privacy Policy</h3>
  <p>
    Your user of this website indicates agreement with both the <a href="/tos">Terms of Service</a> and <a href="/privacy">Privacy Policy.</a>
  </p>

  <h1>FAQ</h1>

  <h3 id="reaping-limit">Reaping Check Character Limit</h3>
  <p>
    In order to prevent people from creating characters with the sole purpose of increasing their odds of being Reaped for a Hunger Games, a limit has been placed on the number of characters that can be entered by a single person.
    This limit is calculated as: <span class="label label-default">2 &times; (number of ineligible characters) + 10</span>
  </p>

</div>