<div class="container">

  <h1>General</h1>
  <h3 id="warehouse">About Warehouse</h3>
  <p>
    Warehouse is an informational and activity check database for <a href="https://hungergamesrpg.com/">Hunger Games RPG</a>, a text-based, play-by-post role-playing game.
    It is being developed as a personal project by <a href="https://github.com/caramcc">caramcc</a>.
  </p>

  <h3 id="tos-and-pp">Terms of Use and Privacy Policy</h3>
  <p>
    Your user of this website indicates agreement with both the <a href="/tos">Terms of Service</a> and <a href="/privacy">Privacy Policy.</a>
  </p>

  <h1>FAQ</h1>

  <h3 id="reaping-limit">Reaping Check Character Limit</h3>
  <p>
    In order to prevent people from creating characters with the sole purpose of increasing their odds of being Reaped for a Hunger Games, a limit has been placed on the number of characters that can be entered by a single person.
    This limit is calculated as: <span class="label label-default">2 &times; (number of ineligible characters) + 10</span>
  </p>

  <h3 id="special-types">Special Types</h3>
  <p>
    Certain characters might belong to a second category beyond their District/Area: Avoxes, Peacekeepers, Mayors, Victors, and Gamemakers.
    It is permitted to write a bio for a new <b>Avox</b> or <b>Peacekeeper</b> character.
    However, the other categories are restricted, due to limited supply and special distinction.
    <ul>
    <li><b>Mayors</b> are available during special events only, and are selected via audition.</li>
    <li><b>Victors</b> are characters who were reaped as tributes and then won the site Hunger Games.</li>
    <li><b>Gamemakers</b> are awarded to those who have gone through the singular trauma of running the site Hunger Games.
    If these do not apply to your character, please do not select them. Your character will not be marked as accepted.</li>
    </ul>
  </p>

  <h3 id="other-genders">Genders</h3>
  <p>
    It's perfectly fine to have characters that aren't necessarily confined by the gender binary.
    However, for the purposes of the Reaping and the Hunger Games, where a gender binary is enforced (<i>"one boy and one girl from each district..." etc etc</i>), we require that all non-binary-gendered characters to edit their character to specify a gender for the reaping.
  </p>


  <h1 id="todo">Upcoming Features</h1>

  <h2 id="todo-p1">Top Priority</h2>

  <h3 id="todo-pw-reset">Password Changing, Password Reset, Email Verification</h3>
  <p>
    This app, being in Alpha, is missing a few extremely helpful (although crucial to the basic functionality of the app) features.
    The ability to change and reset your password are chief among them.
    I'm working on it. I promise.
  </p>

  <h3 id="todo-account-deletion">User Account Deletion</h3>
  <p>
    As of right now it isn't possible for you (or anyone else) to delete your account using the Warehouse's web interface.
    If you need your account deleted in the interim, please let me know and I can delete it directly from the database.
  </p>

  <h3 id="todo-search">Searching</h3>
  <p>
    Simple enough: A search bar at the top that would allow you to look through all the characters/users/FCs/etc.
    Right now there's a simple search on the API, but I would like to build this into the main site.
  </p>

  <h2 id="todo-p2">Nice-to-Haves</h2>

  <h3 id="todo-census">Census Data</h3>
  <p>
    In order to get some good data on all the characters on the site, in order to crunch some numbers on that, I plan to add an optional "census form" that can be filled out for each character.
    This data could be used for more advanced searching options, showing trends in character demographics, and giving a more complete fact sheet for each character.
  </p>

  <h3 id="todo-icons">Avatars and Icons</h3>
  <p>
    Simple enough: an option to provide an icon for each character and user.
  </p>

  <h2 id="todo-p3">Cool Unnecessary Things</h2>

  <h3 id="todo-slack">Slackbot Integrations</h3>
  <p>
    Not anywhere near top priority, but eventually I would like to integrate a bot that could be accessed via the site Slack channel.
  </p>

  <h2 id="todo-p4">Pipe Dreams</h2>

  <h3 id="todo-abstract">Abstraction</h3>
  <p>
    Eventually I'd like to make The Warehouse a service available to all sorts of RP sites.
    If this ever happens, it's a long way off and will likely require an upheaval of the site architecture as it currently stands.
  </p>


</div>